body{
    background-color: tomato;
}

.container{
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    width: 1300px;
    height: 490px;
}
.row{
    display: flex;
}
img{
    width: 490px;
    height: 300px;
}
/* .sizes{
    display: flex;
} */
section{
    justify-content: end;
    align-items: end;
   text-align: center;
    font-size: 18px;
    border: 1px solid black;
    transform: translateX(70px);
    width: 500px;

}
.text
{
    width: 500px;
}
main{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

}
p{
    border: 1px solid orangered;
    text-align: center;
    letter-spacing: 40px;
    margin: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 8px;
}
.sizes{
    text-align: center;
    display: flex;
}
.choose{
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: tomato;
}